@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

* {
  padding: 0;
  margin: 0;
}

body { /*met deze element selector style je de gehele body*/
  display: flex;
  justify-content: center; /*plaatst flex-items horizontaal in het midden van de flex-container als de flex-direction zoals in dit geval default of row is.*/
  align-items: center; /*plaatst flex-items verticaal in het midden van de flex-container als de flex-direction zoals in dit geval default of row is.*/
  height: 100vh; /*zorgt dat de body de volledige hoogte is van het scherm van de gebruiker (viewport height).*/
  font-family: 'Antic', sans-serif;
  background: #f3f3f3;
}

article { /*Dit is een element selector die ik gebruik om het article te stylen*/
  position: relative;
  width: 300px;
  border-radius: 7px; 
  background: white;
  box-shadow:  0px 7px 11px 0px #3d3d3d70;
}

.content {
  margin: 0 5rem 1rem 2rem;
  padding: 0.5rem;
}

.slide-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 11rem;
  width: 192px;
  border-radius: 7px; 
}

.profile-pic {
  /* position: absolute;
  top: 2rem;
  right: 2rem; */
  border-radius: 7px; 
  object-fit: cover;
  height: 11rem;
  width: 192px;
}

.slideshow {
  animation: slideS 8s ease-in-out infinite;
}

.insta {
  position: absolute;
  top: 10rem;
  right: 2rem;
  z-index: 1000;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.insta path {
  stroke: white;
}

.hover-container {
  position: absolute;
  top: -1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  transform: rotate(-25deg);
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
}

.arrow {
  transform: scaleX(-1) rotate(140deg);
}

.header-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5rem;
  height: 11rem;
  border-radius: 7px; 
  background: #ffcece /*#1c1c1c*/;
  /* color: white; */
}

h1 {
  text-transform: uppercase;
}

.header-background p {
  font-family: 'Caveat', cursive;
}

.name-light {
  font-weight: 100;
}

li {
  list-style: none;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.links a,
.links li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: black;
  transition: 0.1s ease-in-out;
}

.links li:nth-of-type(2),
.links li:nth-of-type(4) {
  justify-self: end;
}

/* Hovers */

.links a:hover {
  transform: scale(1.1);
  /* color: #cb6161; */
  font-weight: bold;
}

.insta:hover {
  transform: scale(1.1);
  animation: bounce 1.25s ease-in-out infinite;
}

/* Animations */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		transform:         translateY(0)
	}
	40% {
		transform:         translateY(-20px)
	}
	60% {
		transform:         translateY(-10px)
	}
}

@keyframes slideL {
  0%, 10% {
    margin-left: -256px;
  }
  20%, 30%{
    margin-left: -512px;
  }
  40%, 50% {
    margin-left: -768px;
  }
  60%, 70% {
    margin-left: -1024px;
  }
  80%, 90% {
    margin-left: -1280px;
  }
  100% {
    margin-left: -256px;
  }
}

@keyframes slideS {
  0%, 10% {
    margin-left: -192px;
  }
  20%, 30%{
    margin-left: -384px;
  }
  40%, 50% {
    margin-left: -576px;
  }
  60%, 70% {
    margin-left: -768px;
  }
  80%, 90% {
    margin-left: -960px;
  }
  100% {
    margin-left: -192px;
  }
}

/* Media query */

@media (min-width: 650px) {
  article {
    width: 350px;
  }
  .content {
    margin: 0 3rem 1rem 3rem;
  }

  .header-background {
    margin-top: 2rem;
    height: 15rem;
  }

  .profile-pic {
    height: 15rem;
    width: 256px;
    /* top: -2rem;
    right: -2rem; */
    /* box-shadow: 7px 7px 0px 0px rgb(35 11 23 / 41%); */
  }

  .slide-container {
    height: 15rem;
    width: 256px;
    top: -2rem;
    right: -2rem;
  }

  .slideshow {
    animation: slideL 8s ease-in-out infinite;
  }

  .insta {
    top: 9rem;
    right: -2rem;
    width: 65px;
    height: 65px;
  }

  .hover-container {
    top: -4rem;
    left: 3rem;
  }
}